<form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('Email').errors?.errors" [nzSm]="14" [nzXs]="24">
            <input nz-input placeholder="Please Enter E-mail" id="email" formControlName="Email" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username">Username</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('Username').errors?.errors" [nzSm]="14" [nzXs]="24">
            <input nz-input placeholder="Please Enter Username" id="username" formControlName="Username" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password">Password</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('Password').errors?.errors" [nzSm]="14" [nzXs]="24">
            <input nz-input placeholder="Please Enter Password" id="password" formControlName="Password" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstname">First Name</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('FirstName').errors?.errors" [nzSm]="14" [nzXs]="24">
            <input nz-input placeholder="Please Enter First Name" id="firstname" formControlName="FirstName" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastname">Last Name</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('LastName').errors?.errors" [nzSm]="14" [nzXs]="24">
            <input nz-input placeholder="Please Enter Last Name" id="lastname" formControlName="LastName" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="UserRole">Role</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('UserRole').errors?.errors" [nzSm]="14" [nzXs]="24">
            <crselect [url]="userRolesUrl" key="Name" value="Name" id="UserRole" formControlName="UserRole"></crselect>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="BranchId">Branch</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('BranchId').errors?.errors" [nzSm]="14" [nzXs]="24">
            <crselect [url]="BranchUrl" key="BranchName" value="Id" id="BranchId" formControlName="BranchId">
            </crselect>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
    </nz-form-item>


</form>