<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" >
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">-->
        <i nz-icon style="  font-size:26px;
  color:#ffffff;" nzType="car" nzTwotoneColor="#ffffff" nzTheme="fill"></i>
        <h1>Car Rental</h1>
      </a>
    </div>
    <app-sidebar [sidebarConfig]="sidebarConfig" [isCollapsed]="isCollapsed"></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" style="margin-left: 10px" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
             style="font-size: 20px"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <app-header></app-header>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="height: auto">
        <nz-breadcrumb [nzAutoGenerate]="true">
        </nz-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
