<!--<div><app-crgrid [refresh]="refresh" (deleteClick)="deleteClicked($event)" (editClick)="editClicked($event)" [columns]="lstcolumns" [url]="url"></app-crgrid></div>-->

  <!--<div style=" justify-content:center;padding:10px;align-items:center; border:1px solid #dddddd;border-radius:10px; ">

    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="14">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="SearchKey">Search Options</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <crselect [url]="membershipurl" key="Name" value="Id" id="MembershipTypeId" formControlName="MembershipTypeId"></crselect>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="14">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="SearchValue">Search Value</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="SearchValue" placeholder="Enter Search Value" id="SearchValue" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row  style=" justify-content:center;align-items:center;">
        <div   >
          <button nz-button [nzType]="'primary'">Search</button>
          
        </div>
      </div>
    </form>
    </div>-->

    <app-car-item *ngFor="let car of carItems" [car]="car"></app-car-item>
