<form nz-form [formGroup]="booking" (ngSubmit)="submitForm()">


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="FromBranchID">Pick up Location</nz-form-label>
    <nz-form-control [nzErrorTip]="booking.get('FromBranchID').errors?.errors" [nzSm]="14" [nzXs]="24">
      <crselect [url]="branchurl" key="BranchName" value="Id" formControlName="FromBranchID"></crselect>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ToBranchID">Return Location</nz-form-label>
    <nz-form-control [nzErrorTip]="booking.get('ToBranchID').errors?.errors" [nzSm]="14" [nzXs]="24">
      <crselect [url]="branchurl" key="BranchName" value="Id" formControlName="ToBranchID"></crselect>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="FromDate">From Date</nz-form-label>
    <nz-form-control [nzErrorTip]="booking.get('FromDate').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
      <!--<nz-date-picker nzShowTime formControlName="FromDate" nzFormat="yyyy/MM/dd"></nz-date-picker>-->

      <nz-date-picker formControlName="FromDate"
                      nzShowTime
                      nzFormat="dd-MM-yyyy HH:mm:ss"
                      nzPlaceHolder="Select Pickup Date and Time"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ReturnDate">Return Date</nz-form-label>
    <nz-form-control [nzErrorTip]="booking.get('ReturnDate').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
      <!--<nz-date-picker formControlName="ReturnDate" nzFormat="yyyy/MM/dd"></nz-date-picker>-->

      <nz-date-picker formControlName="ReturnDate"
                      nzShowTime
                      nzFormat="dd-MM-yyyy HH:mm:ss"
                      nzPlaceHolder="Select Return Date and Time"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CarId">Car</nz-form-label>
    <nz-form-control [nzErrorTip]="booking.get('CarId').errors?.errors" [nzSm]="14" [nzXs]="24">
      <crselect [url]="carurl" key="Model" value="Id" formControlName="CarId"></crselect>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CustomerId">Customer</nz-form-label>
    <nz-form-control [nzErrorTip]="booking.get('CustomerId').errors?.errors" [nzSm]="14" [nzXs]="24">
      <label nz-checkbox formControlName="IsNewCustomer">{{checkboxname}}</label>
      <crselect [disabled]="(booking.get('IsNewCustomer').value)" [url]="customerurl" key="FirstName" value="Id" formControlName="CustomerId"></crselect>

    </nz-form-control>
  </nz-form-item>

  <ng-container *ngIf="booking.get('IsNewCustomer').value">
    <div style="margin: 0 auto;text-align: left;">
      <fieldset formGroupName="Customer">
        <legend>Customer</legend>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CustomerCode">Customer Code</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('CustomerCode').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
            <input nz-input formControlName="CustomerCode" placeholder="Enter Customer Code" id="CustomerCode" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="FirstName">FirstName</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('FirstName').errors?.errors" nzHasFeedBack [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="FirstName" placeholder="Enter First Name" id="FirstName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="LastName">LastName</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('LastName').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
            <input nz-input formControlName="LastName" placeholder="Enter Last Name" id="LastName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzErrorTip="Invalid Email" nzFor="EmailAddress">EmailAddress</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('EmailAddress').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
            <input nz-input formControlName="EmailAddress" placeholder="Enter Email Address" id="EmailAddress" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="PhoneNumber">PhoneNumber</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('PhoneNumber').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
            <input nz-input formControlName="PhoneNumber" placeholder="Enter Phone number" id="PhoneNumber" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="BirthDate">Date of Birth</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('BirthDate').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
            <nz-date-picker formControlName="BirthDate" nzFormat="yyyy/MM/dd"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="LicenseNumber">LicenseNumber</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('LicenseNumber').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
            <input nz-input formControlName="LicenseNumber" placeholder="Enter Driving License Number" id="LicenseNumber" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="MembershipTypeId">Membership Type</nz-form-label>
          <nz-form-control [nzErrorTip]="customerForm.get('MembershipTypeId').errors?.errors" [nzSm]="14" [nzXs]="24">
            <crselect [url]="membershipurl" key="Name" value="Id" id="MembershipTypeId" formControlName="MembershipTypeId"></crselect>
          </nz-form-control>
        </nz-form-item>

      </fieldset>
    </div>
  </ng-container>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Extra">Booking Extras</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">

      <nz-collapse>
        <nz-collapse-panel nzHeader="Booking Extra">
          <app-view-extra (dataChange)="dataChange($event)"></app-view-extra>
        </nz-collapse-panel>
      </nz-collapse>

    </nz-form-control>
  </nz-form-item>





  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="booking.invalid">Save Booking</button>
    </nz-form-control>
  </nz-form-item>

</form>
