 
 
<nz-table [nzFrontPagination]="false" #Table [nzData]="records">
  <thead>
    <tr>
      <th    *ngFor="let column of columns">
        {{ column.includes(":") ? column.split(":")[1]:column }}

      

      </th>

      <th  *ngIf="actions.length>0" [attr.colspan]="[actions.length]">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of Table.data">
      <td *ngFor="let column of columns">{{ data[column.includes(":") ? column.split(":")[0]:column] }}</td>
      <!--<td> <a><i nz-icon nzType="edit" (click)="editClicked(data)" nzTheme="twotone"></i></a></td>
      <td>
        <a><i nz-icon nzType="delete" (click)="deleteClicked(data)" nzTheme="twotone"></i></a>
      </td>-->

      <td *ngFor="let column of actions">
      
        <a nz-tooltip nzTooltipTitle="{{column.split(':')[0]}}"><i nz-icon nzType="{{column.split(':')[1]}}" (click)="callActions([column],data)" ></i></a>


      </td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<div style="display: flex; flex-direction: row-reverse">
  <nz-pagination [nzShowSizeChanger]="true" [nzPageIndex]="pagenumber" [nzTotal]="totalcount" (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)"></nz-pagination>

</div>
