





<!--<nz-collapse>
  <nz-collapse-panel nzHeader="Invoice" [nzActive]="true">-->

  <nz-tabset>
    <nz-tab nzTitle="Invoice">
      <div>
        <button nz-button nzType="default" (click)="print()"><i nz-icon nzType="printer" nzTheme="outline"></i> Print</button>
      </div>
      <div class="printArea">
        <div class="invoice-box">
          <!--<header>Customer Copy </header>-->
          <table cellpadding="0" cellspacing="0">
            <tr class="top">
              <td colspan="2">
                <table>
                  <tr>
                    <td class="title">
                      <img src="/StaticFiles/images/logo.png" style="width:100%; max-width:300px;">
                    </td>

                    <td>
                      Invoice #: {{invoiceDetails&&invoiceDetails.Invoice.InvoiceNumber}}<br>
                      Created: {{invoiceDetails&&invoiceDetails.Invoice.IssueDate}}<br>
                      Due: {{invoiceDetails&&invoiceDetails.Invoice.DueDate}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class="information">
              <td colspan="2">
                <table>
                  <tr>
                    <td>
                      Car Rental Company.<br>
                      3/100 Hudson Street<br>
                      Hurstville 2220 <br>
                      02xxxxxxxxxxxx
                    </td>

                    <td>
                      {{invoiceDetails&&invoiceDetails.Invoice.Customer.FirstName}}  {{invoiceDetails&&invoiceDetails.Invoice.Customer.LastName}}    <br>
                      {{invoiceDetails&&invoiceDetails.Invoice.Customer.EmailAddress}}<br>
                      {{invoiceDetails&&invoiceDetails.Invoice.Customer.PhoneNumber}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class="heading">
              <td>
                Item
              </td>

              <td>
                Price
              </td>
            </tr>

            <tr class="item">
              <td>
                {{ invoiceDetails&&invoiceDetails.Car.Make}}| {{invoiceDetails&&invoiceDetails.Car.Model}}| {{invoiceDetails&&invoiceDetails.Car.Year}}
              </td>

              <td>
                $ {{ invoiceDetails&&invoiceDetails.Car.CarClassification.CostPerDay}}
              </td>
            </tr>


            <tr *ngFor="let data of bookingextralist">

              <td>
                {{ data.Name }} * {{ data.Count }}
              </td>

              <td>
                $ {{ data.Price*data.Count }}
              </td>
            </tr>



            <tr class="total">
              <td></td>

              <td>
                Total: ${{invoiceDetails&&invoiceDetails.Invoice.Amount}}
              </td>
            </tr>
          </table>
        </div>

      </div>
    </nz-tab>
 
    <div *ngIf="invoiceDetails&&invoiceDetails.Invoice.status==false">
      <nz-tab nzTitle="Make Payment">
        <div class="invoice-box">


          <form nz-form [formGroup]="paymentForm" (ngSubmit)="submitForm()">

            <input type="hidden" formControlName="InvoiceId" [ngModel]="invoiceDetails.Invoice.Id">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="TotalAmount">Total Due Amount</nz-form-label>
              <nz-form-control [nzErrorTip]="paymentForm.get('TotalAmount').errors?.errors" [nzSm]="14" [nzXs]="24">
                <input [(ngModel)]="invoiceDetails.Invoice.Amount" formControlName="TotalAmount" type="number" disabled="disabled" nz-input placeholder="Amount" />


              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="AmountReceived">Amount Received</nz-form-label>
              <nz-form-control nzErrorTip="Please amount received" [nzSm]="14" [nzXs]="24">
                <input [(ngModel)]="amountreceived" formControlName="AmountReceived" (keyup)="onKeydown($event)" type="number" nz-input placeholder="Amount Received" />

              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="AmountReturn">Return Amount</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input [(ngModel)]="amountreturn" formControlName="AmountReturn" type="number" disabled="disabled" nz-input placeholder="Amount to Return" />

              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="PaymentType">Payment Type</nz-form-label>
              <nz-form-control [nzErrorTip]="paymentForm.get('PaymentType').errors?.errors" [nzSm]="14" [nzXs]="24">

                <nz-select formControlName="PaymentType" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type">
                  <nz-option nzLabel="Cash" nzValue="1"></nz-option>
                  <nz-option nzLabel="Cheque" nzValue="2"></nz-option>
                  <nz-option nzLabel="Bank Deposit" nzValue="3"></nz-option>
                </nz-select>




              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="PaymentDate">Date of Payment</nz-form-label>
              <nz-form-control [nzErrorTip]="paymentForm.get('PaymentDate').errors?.errors" [nzSm]="14" [nzXs]="24" nzHasFeedBack>
                <nz-date-picker formControlName="PaymentDate" nzFormat="yyyy/MM/dd"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Remarks">Remarks</nz-form-label>
              <nz-form-control [nzErrorTip]="paymentForm.get('Remarks').errors?.errors" [nzSm]="14" [nzXs]="24">

                <textarea nz-input formControlName="Remarks" placeholder="Remarks"></textarea>

              </nz-form-control>
            </nz-form-item>


            <nz-form-item nz-row>
              <nz-form-control [nzSpan]="14" [nzOffset]="8">
                <button nz-button nzType="primary">Pay</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </nz-tab>
    </div>

    <div *ngIf="invoiceDetails&&invoiceDetails.Invoice.status==true">

      <nz-tab nzTitle="Receipt">
        <div>
          <button id="printReceipt" nz-button nzType="default" (click)="print()"><i nz-icon nzType="printer" nzTheme="outline"></i> Print</button>
        </div>
        <div class="printArea">
          <div class="invoice-box">
             
            <table cellpadding="0" cellspacing="0">
              <tr class="top">
                <td colspan="2">
                  <table>
                    <tr>
                      <td class="title">
                        <img src="/StaticFiles/images/logo.png" style="width:100%; max-width:300px;">
                      </td>

                      <td>
                        Receipt #: {{invoiceDetails&&invoiceDetails.Payment.ReceiptNumber}}<br>
                        Created: {{invoiceDetails&&invoiceDetails.Invoice.IssueDate}}<br>
                        DueDate: {{invoiceDetails&&invoiceDetails.Invoice.DueDate}}<br>
                        Paid Date: {{invoiceDetails&&invoiceDetails.Payment.PaymentDate}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr class="information">
                <td colspan="2">
                  <table>
                    <tr>
                      <td>
                        Car Rental Company.<br>
                        3/100 Hudson Street<br>
                        Hurstville 2220 <br>
                        02xxxxxxxxxxxx
                      </td>

                      <td>
                        {{invoiceDetails&&invoiceDetails.Invoice.Customer.FirstName}}  {{invoiceDetails&&invoiceDetails.Invoice.Customer.LastName}}    <br>
                        {{invoiceDetails&&invoiceDetails.Invoice.Customer.EmailAddress}}<br>
                        {{invoiceDetails&&invoiceDetails.Invoice.Customer.PhoneNumber}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>



              <tr class="heading">
                <td>
                  Item
                </td>

                <td>
                  Price
                </td>
              </tr>

              <tr class="item">
                <td>
                  {{ invoiceDetails&&invoiceDetails.Car.Make}}| {{invoiceDetails&&invoiceDetails.Car.Model}}| {{invoiceDetails&&invoiceDetails.Car.Year}}
                </td>

                <td>
                  $ {{ invoiceDetails&&invoiceDetails.Car.CarClassification.CostPerDay}}
                </td>
              </tr>

              {{bookingextralist}}||json
              <tr *ngFor="let data of bookingextralist">

                <td>
                  {{ data.Name }} * {{ data.Count }}
                </td>

                <td>
                  $ {{ data.Price*data.Count }}
                </td>
              </tr>
              <tr class="heading">
                <td>
                  PaymentType
                </td>

                <td>
                  {{invoiceDetails&&invoiceDetails.Payment.PaymentType}}
                </td>
              </tr>



              <tr class="total">
                <td> </td>

                <td>
                  Total Amount: ${{invoiceDetails&&invoiceDetails.Payment.TotalAmount}}
                </td>
              </tr>

              <p>Notes: {{invoiceDetails&&invoiceDetails.Payment.Remarks}}</p>
              <tr class="total">
                <td>
                </td>

                <td>

                  Staff Signature
                </td>
              </tr>

            </table>

            
          </div>

        </div>
      </nz-tab>
    </div>
  </nz-tabset>
    <!--</nz-collapse-panel>
    </nz-collapse>-->
